#!/bin/bash

set -eufo pipefail

{{ $brews := list
    "bash"
    "bat"
    "curl"
    "emacs"
    "exa"
    "fd"
    "ffmpeg"
    "gdu"
    "gh"
    "git"
    "git-lfs"
    "gnu-units"
    "gnupg"
    "ghostscript"
    "imagemagick"
    "jq"
    "node"
    "openjdk"
    "pdftk-java"
    "pinentry-mac"
    "ripgrep"
    "starship"
    "telnet"
    "tmux"
    "wget"
    "xz"
    "yt-dlp"
    "zoxide" -}}
{{ $casks := list
    "alt-tab"
    "cyberduck"
    "ferdium"
    "flameshot"
    "gitkraken"
    "google-chrome"
    "hammerspoon"
    "hubstaff"
    "iterm2"
    "karabiner-elements"
    "skype"
    "spaceman"
    "spotify"
    "sublime-text"
    "visual-studio-code"
    "vlc"
    "warp" -}}

{{ if eq .chezmoi.arch "amd64" -}}
{{   $brews = concat $brews (list
      "shellcheck") -}}
{{ end -}}

{{ if .personal -}}
{{   $brews = concat $brews (list
      "postgis"
      "postgresql"
      "pspg") -}}
{{   $casks = concat $casks (list
      "1password"
      "1password-cli"
      "balenaetcher"
      "telegram"
      "transmission"
      "whatsapp") -}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

