#!/bin/bash

# Mint has /usr/bin/python3 and /usr/bin/register-python-argcomplete3 but not their counterparts without the 3 on the end
# This script simply creates simlinks

set -eufo pipefail

# Check if /usr/bin/python3 exists and /usr/bin/python does not exist
if [[ -f /usr/bin/python3 && ! -f /usr/bin/python ]]; then
    sudo ln -s /usr/bin/python3 /usr/bin/python
fi

# And the same for /usr/bin/register-python-argcomplete3
if [[ -f /usr/bin/register-python-argcomplete3 && ! -f /usr/bin/register-python-argcomplete ]]; then
    sudo ln -s /usr/bin/register-python-argcomplete3 /usr/bin/register-python-argcomplete
fi

