
db_path = "{{ onepasswordRead "op://Personal/Atuin Config/db_path" }}"
key_path = "{{ onepasswordRead "op://Personal/Atuin Config/key_path" }}"
session_path = "{{ onepasswordRead "op://Personal/Atuin Config/session_path" }}"
update_check = true
style = "compact"
inline_height = 15
enter_accept = true
search_mode_shell_up_key_binding = "prefix"

[sync]
records = true
