
db_path = "{{ onepasswordRead "op://Personal/Atuin Config/db_path" }}"
key_path = "{{ onepasswordRead "op://Personal/Atuin Config/key_path" }}"
session_path = "{{ onepasswordRead "op://Personal/Atuin Config/session_path" }}"
sync_address = "{{ onepasswordRead "op://Personal/Atuin Config/sync_address" }}"
update_check = true
style = "compact"
inline_height = 15
enter_accept = true
search_mode = "fulltext"
search_mode_shell_up_key_binding = "prefix"
filter_mode_shell_up_key_binding = "workspace"

[sync]
records = true
