.oh-my-zsh/cache/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
docs
install.sh
LICENSE
README.md


{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim
.local/share/fonts
{{ end }}

{{ if ne .osid "linux-linuxmint" -}}
.chezmoiscripts/linux/mint/**
{{ end }}

{{ if ne .osid "linux-debian" -}}
.chezmoiscripts/linux/debian/**
{{ end }}


{{ if not .personal }}
.pypirc
.psqlrc
.chezmoiscripts/linux/personal/**

{{ end }}
