.oh-my-zsh/cache/**
.oh-my-zsh/custom/themes/powerlevel10k/**/*.zwc
README.md

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/AutoRaise
.config/karabiner
.hammerspoon
Library
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.hushlogin
.local/bin/nvim
.local/share/fonts
{{ end }}

{{ if ne .osid "linux-linuxmint" -}}
.chezmoiscripts/linux/mint/**
.garyj/cinnamon
{{ end }}

{{ if not .personal }}
.pypirc
.psqlrc
{{ end }}
