{{/* Parts taken from: https://github.com/twpayne/dotfiles/blob/master/home/.chezmoi.toml.tmpl */}}

{{- /* Checks if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}

{{- $headless := or (env "SSH_CLIENT" | not | not) (not (or (env "DISPLAY") (env "WAYLAND_DISPLAY"))) -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
    {{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
    {{-   $ephemeral = true -}}
    {{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if contains "noodle" $hostname -}}
    {{-   $personal = true -}}
{{- end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
  {{   $sudo = "" -}}
{{ end -}}

{{- if $interactive -}}
{{-   writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    osid = {{ $osID | quote }}
    personal = {{ $personal }}

