{{ if and (eq .chezmoi.arch "amd64") (not .headless) (not .ephemeral) -}}

# Load .profile (which loads all the paths)
if [[ -r "$HOME/.profile" ]]; then
  source "$HOME/.profile"
fi

# Try to set the fallback for keyboard repeat rate which seems to intermitently be reset by Cinnamon
xset r rate 300 50

{{ end }}
