# Ref: https://github.dev/felipecrs/dotfiles

{{- $paths := list }}
{{- $homeDir := .chezmoi.homeDir }}
{{- range $_, $relPath := list "bin" "bin/installers" "go/bin" ".cargo/bin" ".local/bin" ".pulumi/bin" }}
{{ $path := joinPath $homeDir $relPath }}
{{- if stat $path }}
{{- $paths = mustAppend $paths $path }}
{{- end }}
{{- end -}}

{{- if $paths }}
export PATH={{ toStrings $paths | join ":" }}:$PATH
{{- end }}
