alias g=git

{{- if lookPath "bat" }}
alias cat=bat
{{- else if lookPath "batcat" }}
alias cat=batcat
{{- end }}
{{- if lookPath "fdfind" }}
alias fd=fdfind
{{- end }}

{{ $ls_command := "ls" -}}
{{- if lookPath "exa" }}
{{ $ls_command := "exa" -}}
alias ls="{{ $ls_command }}"
# sort by date modified
alias lsdate="{{ $ls_command }} -lah --sort newest"
{{- end }}

alias ll="{{ $ls_command }} -la"
# show me everything human readable
alias lsa="{{ $ls_command }} -lah"
# sorted by size
alias lss="{{ $ls_command }} -lahSr"
# don't list directories
alias lsnd="{{ $ls_command }} -lahd"
# list all dot files
alias lsdot="{{ $ls_command }} -lahd .*"

# Various Quick Shortcuts
alias nbclean="jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace **/*.ipynb"
alias qpga='docker run -p 5050:80  -e "PGADMIN_DEFAULT_EMAIL=a@a.com" -e "PGADMIN_DEFAULT_PASSWORD=a" --add-host=host.docker.internal:host-gateway  -d dpage/pgadmin4 && x-www-browser http://localhost:5050'

# Docker Stuff
alias dcf="docker compose logs -f"
alias d=docker
alias dc="docker compose"

# Scrapy aliases
alias sc='scrapy check'
alias st='scrapy-test'

# Various Python Stuff
alias py=python
alias p=poetry
