#
# Common settings for both bash and zsh
# File is sourced in .bashrc and .zshrc
#

export GIT_CONFIG_GLOBAL="$XDG_CONFIG_HOME/git/config"

# Export .email into USER_EMAIL to be used in scripts
export USER_EMAIL={{ .email }}
export GITHUB_USER={{ .githubUser }}

# Can use UID & GID in docker-compose
export UID=$(id -u)
export GID=$(id -g)

ulimit -S -n 131070

umask 027

export EDITOR=emacs

if [ -f $HOME/.common_alias ]; then
  source $HOME/.common_alias
fi

# check if .private_alias exists and then source those
if [ -f $HOME/.private_alias ]; then
  source $HOME/.private_alias
fi

# check if .private_alias exists and then source those
if [ -f $HOME/.functions ]; then
  source $HOME/.functions
fi

# Determine the current shell
if [ -n "$ZSH_VERSION" ]; then
    current_shell=zsh
elif [ -n "$BASH_VERSION" ]; then
    current_shell=bash
else
    echo "Unknown shell: direnv hook not loaded"
    exit 1
fi

if command -v starship >/dev/null 2>&1; then
  eval "$(starship init $current_shell)"
fi

if command -v zoxide >/dev/null 2>&1; then
  eval "$(zoxide init $current_shell)"
fi

if command -v direnv >/dev/null 2>&1; then
  eval "$(direnv hook $current_shell)"
fi

if command -v atuin >/dev/null 2>&1; then
  eval "$(atuin init $current_shell)"
fi

if command -v mise > /dev/null 2>&1; then
    eval "$(mise activate $current_shell)";
fi

export CURRENT_SHELL=$current_shell

{{ $argComplete := "register-python-argcomplete3" }}
{{- if lookPath "register-python-argcomplete" }}
{{ $argComplete = "register-python-argcomplete" }}
{{- end }}


# Poetry by default will use the currently active python version when creating virtualenvs
# instead of using the version of Python that poetry was installed with
# without this setting was getting errors on MacOS as described in:
# https://github.com/python-poetry/poetry/issues/7158
# https://python-poetry.org/docs/configuration#virtualenvsprefer-active-python-experimental
export POETRY_VIRTUALENVS_PREFER_ACTIVE_PYTHON=true
export POETRY_VIRTUALENVS_IN_PROJECT=true


# Disable the AWS_PAGER to prevent the aws cli from paging output: OMG annoying
# https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-pagination.html
export AWS_PAGER=""

# BUN_CONFIG_DISABLE_COPY_FILE_RANGE as bun seems to have problems with encryptfs
# https://github.com/anthropics/claude-code/issues/8158
export BUN_CONFIG_DISABLE_COPY_FILE_RANGE=true
