#
# Common settings for both bash and zsh
# File is sourced in .bashrc and .zshrc
#

export GIT_CONFIG_GLOBAL="$XDG_CONFIG_HOME/git/config"

# Export .email into USER_EMAIL to be used in scripts
export USER_EMAIL={{ .email }}

# Can use UID & GID in docker-compose
export UID=$(id -u)
export GID=$(id -g)

ulimit -S -n 65535

umask 027

export EDITOR=emacs

if [ -f $HOME/.common_alias ]; then
  source $HOME/.common_alias
fi

# check if .private_alias exists and then source those
if [ -f $HOME/.private_alias ]; then
  source $HOME/.private_alias
fi

current_shell=$(basename "$SHELL")

{{- if lookPath "starship" }}
  eval "$(starship init $current_shell)"
{{- end }}

{{- if lookPath "zoxide" }}
  eval "$(zoxide init $current_shell)"
{{- end }}

{{- if lookPath "direnv" }}
  eval "$(direnv hook $current_shell)"
{{- end }}

{{ $argComplete := "register-python-argcomplete3" }}
{{- if lookPath "register-python-argcomplete" }}
{{ $argComplete = "register-python-argcomplete" }}
{{- end }}


# Poetry by default will use the currently active python version when creating virtualenvs
# instead of using the version of Python that poetry was installed with
# without this setting was getting errors on MacOS as described in:
# https://github.com/python-poetry/poetry/issues/7158
# https://python-poetry.org/docs/configuration#virtualenvsprefer-active-python-experimental
export POETRY_VIRTUALENVS_PREFER_ACTIVE_PYTHON=true


# Disable the AWS_PAGER to prevent the aws cli from paging output: OMG annoying
# https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-pagination.html
export AWS_PAGER=""
