# List of directories to check and add to PATH
# REMEMBER the order is reversed, so the last directory in the list will be added first
paths=(
  "$HOME/bin/installers"
  "$HOME/.pulumi/bin"
  "$HOME/.cargo/bin"
  "$HOME/go/bin"
  "$HOME/.atuin/bin"
  "$HOME/.local/bin"
  "$HOME/bin"
  "$HOME/.cache/.bun/bin"
)

# Loop through each path and add to PATH if it exists and isn't already included
for dir in "${paths[@]}"; do
  if [ -d "$dir" ] && [[ ":$PATH:" != *":$dir:"* ]]; then
    export PATH="$dir:$PATH"
  fi
done
