{{- $signingKey := onepasswordRead "op://Personal/SSH - garyj - signing/public key" -}}
{{ .email }} namespaces="git" {{ $signingKey }} {{ .email }}
{{ .agentEmail }} namespaces="git" {{ $signingKey }} {{ .agentEmail }}
