{{ if and (eq .chezmoi.arch "amd64") (not .headless) (not .ephemeral) -}}
#!/bin/sh

# Create a temporary directory and ensure its cleanup!
temp_dir=$(mktemp -d)
trap 'rm -rf -- "$temp_dir"' EXIT
cd "$temp_dir"

if ! command -v google-chrome >/dev/null 2>&1; then
  wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  sudo apt install -y ./google-chrome-stable_current_amd64.deb
fi

cd -

{{ end -}}
