{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-linuxmint" -}}

{{ $packages := list
    "bat"
    "build-essential"
    "curl"
    "gdu"
    "emacs"
    "exa"
    "fd-find"
    "fzf"
    "git"
    "git-lfs"
    "jq"
    "libfuse2"
    "ripgrep"
    "zsh"
    "zoxide" -}}

{{ if eq .osid "linux-ubuntu" "linux-linuxmint" -}}
  {{   $packages = mustAppend $packages "btop" -}}
{{ end -}}

{{ if .personal -}}
  {{  $packages = concat $packages (list
    "apt-transport-https"
    "ca-certificates"
    "direnv"
    "ffmpeg"
    "ghostscript"
    "imagemagick"
    "openssh-server"
    "python3-dev"
    "software-properties-common"
    "shellcheck"
    "units"
  )
  -}}
{{ end -}}

{{ if not .headless -}}
    {{  $packages = concat $packages (list
      "chromium-browser"
      "dconf-editor"
      "flameshot"
      "gimp"
      "gnome-clocks"
      "gparted"
      "remmina-plugin-rdp"
      "remmina-plugin-secret"
      "remmina-plugin-vnc*"
      "remmina"
      "vlc"
      "xclip"
    )
  -}}
{{ end -}}

{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if (and (.personal) (not .headless)) -}}

{{   $snaps = concat $snaps (list
  "dbeaver-ce"
  "ferdium"
  "obs-studio"
  "postman"
  "pdftk"
  "slack"
  "spotify"
  )
-}}

{{   $classicSnaps = concat $classicSnaps (list
  "code"
  "code-insiders"
  "gitkraken"
  "snapcraft"
  "sublime-text"
  )
-}}

{{ end -}}


{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
  {{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -euo pipefail

# Create the keyrings dir in case it does not exist
{{ $sudo }} install -m 0755 -d /etc/apt/keyrings

echo --- Deb Packages: {{ $packages }} ---

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

echo --- Snaps: {{ $snaps }} ---
echo --- Classic Snaps: {{ $classicSnaps }} ---

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || {{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ if eq .osid "linux-linuxmint" -}}
# Mint does not by default add the Snap icons to the menu, hece we need to copy them
cp /var/lib/snapd/desktop/applications/*.desktop {{ .chezmoi.homeDir }}/.local/share/applications
{{- end }}

{{ end }}
