{{ if (and (not .ephemeral) (not .headless)) -}}

  #!/bin/bash

  echo -- Running run_onchange_after_configure-gnome.sh.tmpl --

  set -eufo pipefail

  fc-cache

  gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
  gsettings set org.gnome.Terminal.Legacy.Settings default-show-menubar false

  # Resizes with Alt+RightClick
  # https://unix.stackexchange.com/questions/28514/how-to-get-altright-mouse-to-resize-windows-again
  gsettings set org.gnome.desktop.wm.preferences resize-with-right-button true
  gsettings set org.gnome.desktop.wm.preferences mouse-button-modifier '<Alt>'

  profile=$(gsettings get org.gnome.Terminal.ProfilesList default)
  gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles/${profile}/ preserve-working-directory never

  # Disable Ctrl+. (Dot) ibus emoji hotkey (conflicts with VSCode)
  # https://stackoverflow.com/questions/71997823/ctrl-dot-makes-e-appear-instead-of-showing-suggestions-in-vscode-on-gnome
  gsettings set org.freedesktop.ibus.panel.emoji hotkey "[]"

  # TODO: switch to configuring Cinnamon using dconf instead of the import/export settings that I am currently using
  # For example, below disables the workspace name popup when switching workspaces which is annoying
  # https://dharmitshah.com/2022/06/disable-workspace-name-cinnamon/
  dconf write /org/cinnamon/workspace-osd-visible false

{{ end }}
