{{ if eq .osid "linux-debian" "linux-raspbian" "linux-ubuntu" "linux-linuxmint" -}}

{{ $packages := list
  "curl"
  "emacs"
-}}

{{ if eq .osid "linux-debian" "linux-ubuntu" "linux-linuxmint" -}}
  {{   $packages = mustAppend $packages "btop" -}}
{{ end -}}

{{ if .personal -}}
  {{  $packages = concat $packages (list
    "apt-transport-https"
    "bat"
    "build-essential"
    "ca-certificates"
    "direnv"
    "exa"
    "fd-find"
    "ffmpeg"
    "fzf"
    "gdu"
    "ghostscript"
    "git-lfs"
    "git"
    "imagemagick"
    "inotify-tools"
    "jq"
    "libfuse2"
    "locate"
    "openssh-server"
    "python3-dev"
    "resolvconf"
    "ripgrep"
    "shellcheck"
    "software-properties-common"
    "units"
    "wireguard"
    "wmctrl"
    "zoxide"
    "zsh"
  )
  -}}
{{ end -}}

{{ if .personal -}}
  {{  $packages = concat $packages (list
    "libpq-dev"
    "fonts-firacode"
  )
  -}}
{{ end -}}

{{ if (and (.personal) (not .headless)) -}}
    {{  $packages = concat $packages (list
      "dconf-editor"
      "flameshot"
      "gimp"
      "gnome-clocks"
      "gparted"
      "gvfs-backends"
      "meld"
      "remmina-plugin-rdp"
      "remmina-plugin-secret"
      "remmina-plugin-vnc*"
      "remmina"
      "samba"
      "vlc"
      "xclip"
    )
  -}}
  {{ if ne .osid "linux-debian" -}}
    {{  $packages = concat $packages (list "chromium-browser" ) -}}
  {{ end -}}
{{ end -}}

{{ $snaps := list -}}
{{ $classicSnaps := list -}}

{{ if (and (.personal) (not .headless)) -}}

{{   $snaps = concat $snaps (list
  "dbeaver-ce"
  "ferdium"
  "obs-studio"
  "postman"
  "pdftk"
  "skype"
  "slack"
  "spotify"
  "telegram-desktop"
  )
-}}

{{   $classicSnaps = concat $classicSnaps (list
  "gitkraken"
  "snapcraft"
  "sublime-text"
  "obsidian"
  )
-}}

{{ end -}}

#!/usr/bin/env bash

set -euo pipefail

# Create the keyrings dir in case it does not exist
sudo  install -m 0755 -d /etc/apt/keyrings

echo --- Deb Packages: {{ $packages }} ---

sudo apt-get update
sudo apt-get install -y {{ $packages | join " " }}

echo --- Snaps: {{ $snaps }} ---
echo --- Classic Snaps: {{ $classicSnaps }} ---

{{ if lookPath "snap" }}
{{   range $snaps }}
( snap info {{ . }} | grep -q ^installed: ) || sudo snap install {{ . }}
{{   end }}
{{   range $classicSnaps }}
( snap info {{ . }} | grep -q ^installed: ) || sudo snap install --classic {{ . }}
{{   end }}
{{ end }}

{{ if or (eq .osid "linux-linuxmint") (eq .osid "linux-debian") -}}
# Neither Mint not Debian add the Snap icons to the menu, hence we need to copy them

cp /var/lib/snapd/desktop/applications/*.desktop {{ .chezmoi.homeDir }}/.local/share/applications
{{- end }}

{{ end }}
