{{ if and (not .headless) (not .ephemeral) .personal -}}
{
  "cli_default_open_behavior": "new_window",
  "auto_install_extensions": {
    "github-dark-default": true,
    "vscode-icons": true
  },
  "theme": "GitHub Dark Default",
  "icon_theme": "VSCode Icons for Zed (Dark)",
  "ui_font_size": 20,
  "buffer_font_size": 18,
  "scan_symlinks": "always",
  "file_scan_inclusions": [
    ".env*",
    "tmp/**"
  ],
  "preview_tabs": {
    "enabled": false
  },
  "project_panel": {
    "dock": "left"
  },
  "outline_panel": {
    "dock": "left"
  },
  "collaboration_panel": {
    "dock": "left"
  },
  "agent": {
    "dock": "right",
    "favorite_models": [],
    "model_parameters": []
  },
  "git_panel": {
    "dock": "left"
  },
  "auto_update": false
}
{{ end -}}
