# Docker Services - various commands to run services without installing them on localhost
# Sourced by ~/.commonrc for bash and zsh.

# May require a once off
# mkdir -p $HOME/.docker_servers_data/

pgstart() {
  docker run --rm \
    --name postgres \
    --hostname postgres \
    --user "$(id -u):$(id -g)" \
    -p 5432:5432 \
    -e POSTGRES_PASSWORD=postgres \
    -v $HOME/.docker_servers_data/postgres:/var/lib/postgresql/data \
    -d postgres:16
}

pggeostart() {
  docker run --rm \
    --name postgres \
    --hostname postgres \
    --user "$(id -u):$(id -g)" \
    -p 5432:5432 \
    -e POSTGRES_PASSWORD=postgres \
    -v $HOME/.docker_servers_data/postgres_pggis:/var/lib/postgresql/data \
    -d postgis/postgis:15-3.3
}

# Postgres with pgvector on port 5433
pgvecstart() {
  docker run --rm \
    --name postgres \
    --hostname postgres \
    --user "$(id -u):$(id -g)" \
    -p 5433:5432 \
    -e POSTGRES_PASSWORD=postgres \
    -v $HOME/.docker_servers_data/postgres_pgvec:/var/lib/postgresql/data \
    -d ankane/pgvector
}

pgstop() {
  docker stop $(docker ps -q --filter name=postgres)
}

pgadminstart() {
  docker run --rm \
    --name pgadmin \
    --hostname pgadmin \
    --user "$(id -u):$(id -g)" \
    -p 5050:80 \
    --add-host=host.docker.internal:host-gateway \
    -e "PGADMIN_DEFAULT_EMAIL=a@a.com" \
    -e "PGADMIN_DEFAULT_PASSWORD=a" \
    -v $HOME/.docker_servers_data/pgadmin:/var/lib/pgadmin \
    -d dpage/pgadmin4 \
    && sleep 9 \
    && x-www-browser http://localhost:5050
}

pgadminstop() {
  docker stop $(docker ps -q --filter ancestor=dpage/pgadmin4)
}

#  If mongodb does not start make sure the permissions on $HOME/.docker_servers_data/mongo are 777
#mongostart_replset() {
#  if [ "$PWD" = "$HOME" ]; then
#    echo "Refusing to run mongostart in home directory"
#    return 1
#  fi
#  docker run --rm --name mongo --hostname mongo -p 27017:27017 \
#    -v $HOME/.docker_servers_data/mongo:/data/db \
#    -d mongodb/mongodb-community-server \
#    --replSet rs0 \
#    && sleep 2 \
#    && docker exec mongo mongosh --eval 'rs.initiate({_id: "rs0", members: [{_id: 0, host: "localhost:27017"}]})'
#}

mongostart() {
  docker run --rm \
    --name mongo \
    --hostname mongo \
    --user "$(id -u):$(id -g)" \
    --ulimit nofile=64000:64000 \
    -p 27017:27017 \
    -v $HOME/.docker_servers_data/mongo:/data/db \
    -d mongodb/mongodb-community-server:{{ .langs.mongodb }}-ubuntu2204
}

mongostop() {
  docker stop $(docker ps -q --filter ancestor=mongodb/mongodb-community-server)
}

# Container for MongoDB Shell Access
moishell() {
  docker run -it --rm \
    --name mongo_shell \
    --user "$(id -u):$(id -g)" \
    --ulimit nofile=64000:64000 \
    --entrypoint /bin/bash \
    mongodb/mongodb-community-server:{{ .langs.mongodb }}-ubuntu2204
}
