[user]
	name = Gary Jarrel
	email = {{ .email }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed_25519_signing.pub

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers

[tag]
	forceSignAnnotated = true

[commit]
	gpgsign = true

[help]
	autoCorrect = immediate

[alias]

  ll 	= log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  move = "!f() { MESSAGE=$(git log -1 HEAD --pretty=format:%s); git reset HEAD~ --soft; git stash; git checkout $1; git stash pop; git add .;	git commit -m\"$MESSAGE\";};f"
  cleanbranches = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -d
  cleanbranchesforrealsy = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D

	updm = !git checkout master && git pull && git checkout - && git merge --ff-only master
	rebm = !git checkout master && git pull && git checkout - && git rebase master

	a = add
	ap = add -p
	amc = am --continue
	b = branch
	bm = branch --merged
	bnm = branch --no-merged
	c = clone
	ca = commit --amend
	cane = commit --amend --no-edit
	cf = commit --fixup
	cm = commit --message
	co = checkout
	cob = checkout -b
	com = checkout master
	cp = cherry-pick
	d = diff
	dc = diff --cached
	dom = diff origin/master
	fo = fetch origin
	fu = "!git log -n 16 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	g = grep --line-number
	mbhom = merge-base HEAD origin/master
	mff = merge --ff-only
	ol = log --pretty=oneline
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lfol = log --follow --
	p = push
	pf = push --force-with-lease
	prb = pull --rebase
	r = restore
	ra = rebase --abort
	rc = rebase --continue
  remv = remote -v
	ri = rebase --interactive
	rl = reflog
	riom = rebase --interactive origin/master
	rpo = remote prune origin
	s = status -sb
	sh = "!git log -n 16 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git show"
	stp = stash push --include-untracked --message
	ss = commit --message snapshot --no-gpg-sign
	su = submodule update
	wd = diff --patience --word-diff

[color]
	ui = auto
[core]
	autocrlf = false
	eol = LF
	fileMode = false
  {{ if not .headless -}}
	editor = code --profile /tmp -w -n
  {{ else }}
  editor = emacs
  {{ end -}}

[diff]
	algorithm = histogram
	renamelimit = 8192
	renames = copies

[fetch]
	fsckobjects = false
	prune = true

[init]
	templatedir = ~/.config/git/template
	defaultBranch = master

[push]
	default = current

[rebase]
	autosquash = true
	autostash = true

[receive]
	fsckobjects = true

[transfer]
	fsckobjects = true

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
