{{ if and (or (eq .osid "linux-ubuntu") (eq .osid "linux-linuxmint")) .personal -}}
#!/usr/bin/env bash

# Install CLI!
curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
	gpg --dearmor | sudo tee /usr/share/keyrings/1password-archive-keyring.gpg > /dev/null

echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/$(dpkg --print-architecture) stable main" |
	sudo tee /etc/apt/sources.list.d/1password.list

sudo mkdir -p /etc/debsig/policies/AC2D62742012EA22/
curl -sS https://downloads.1password.com/linux/debian/debsig/1password.pol | \
	sudo tee /etc/debsig/policies/AC2D62742012EA22/1password.pol

sudo mkdir -p /usr/share/debsig/keyrings/AC2D62742012EA22
curl -sS https://downloads.1password.com/linux/keys/1password.asc | \
	gpg --dearmor | sudo tee /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.gpg  > /dev/null

sudo apt update && sudo apt install -y 1password-cli

{{ if not .headless -}}
# Install the 1Password using GUI instead of Snap because Snaps are isolated and do not integrate with the system
# which causes issues with browser integration, etc.
sudo apt install -y 1password
{{ end -}}

{{ end -}}
