{{ if and (eq .chezmoi.arch "amd64") (not .headless) (not .ephemeral) -}}
#!/usr/bin/env bash

echo -- Running run_onchange_after_configure-gnome.sh.tmpl --

set -eufo pipefail

fc-cache

# Keyboard
gsettings set org.cinnamon.desktop.a11y.keyboard bouncekeys-delay 300
gsettings set org.cinnamon.desktop.a11y.keyboard mousekeys-accel-time 300
gsettings set org.cinnamon.desktop.a11y.keyboard mousekeys-init-delay 300
gsettings set org.cinnamon.desktop.a11y.keyboard mousekeys-max-speed 10
gsettings set org.cinnamon.desktop.a11y.keyboard slowkeys-delay 300

# Mouse
gsettings set org.cinnamon.desktop.a11y.mouse dwell-click-enabled false
gsettings set org.cinnamon.desktop.a11y.mouse dwell-threshold 10
gsettings set org.cinnamon.desktop.a11y.mouse dwell-time 1.2
gsettings set org.cinnamon.desktop.a11y.mouse secondary-click-enabled false
gsettings set org.cinnamon.desktop.a11y.mouse secondary-click-time 1.2

gsettings set org.cinnamon.desktop.peripherals.mouse double-click 400
gsettings set org.cinnamon.desktop.peripherals.mouse drag-threshold 8
gsettings set org.cinnamon.desktop.peripherals.mouse speed 1.0

# Root level org.cinnamon configuration
gsettings set org.cinnamon enabled-applets "[
  'panel1:left:0:menu@cinnamon.org:0',
  'panel1:left:1:separator@cinnamon.org:1',
  'panel1:left:2:grouped-window-list@cinnamon.org:2',
  'panel1:right:5:systray@cinnamon.org:3',
  'panel1:right:6:xapp-status@cinnamon.org:4',
  'panel1:right:7:notifications@cinnamon.org:5',
  'panel1:right:8:printers@cinnamon.org:6',
  'panel1:right:9:removable-drives@cinnamon.org:7',
  'panel1:right:10:keyboard@cinnamon.org:8',
  'panel1:right:11:favorites@cinnamon.org:9',
  'panel1:right:12:network@cinnamon.org:10',
  'panel1:right:13:sound@cinnamon.org:11',
  'panel1:right:14:power@cinnamon.org:12',
  'panel1:right:15:calendar@cinnamon.org:13',
  'panel1:right:16:cornerbar@cinnamon.org:14',
  'panel1:right:4:workspace-switcher@cinnamon.org:15',
  'panel1:right:3:scale@cinnamon.org:16',
  'panel1:right:1:qredshift@quintao:17',
  'panel1:right:2:temperature@fevimu:18'
]"

# Set Alt-Tab switcher delay
gsettings set org.cinnamon alttab-switcher-delay 50

# Set Alt-Tab switcher style
gsettings set org.cinnamon alttab-switcher-style 'icons+preview'

# Set desklet snap interval
gsettings set org.cinnamon desklet-snap-interval 25

# Set panels autohide
gsettings set org.cinnamon panels-autohide "['1:false']"

# Set panels height
gsettings set org.cinnamon panels-height "['1:30']"

# Set window effect speed
gsettings set org.cinnamon window-effect-speed 1

# Set workspace OSD visibility
gsettings set org.cinnamon workspace-osd-visible false

# gnome-terminal settings
gsettings set org.gnome.Terminal.Legacy.Settings default-show-menubar true
profile=$(gsettings get org.gnome.Terminal.ProfilesList default | tr -d "'")
# echo "Gnome TermianProfile: ${profile}"
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ background-color 'rgb(23,20,33)'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ default-size-columns 100
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ default-size-rows 20
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ font 'Fira Code 14'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ foreground-color 'rgb(208,207,204)'
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ preserve-working-directory never
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ use-custom-command false
gsettings set org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:${profile}/ use-system-font false

# Set up Dark Theme ('prefer-dark' does not work on Cinnamon)
gsettings set org.cinnamon.desktop.interface gtk-color-scheme 'prefer-dark' #  doesn't do anything for Cinnamon :(
gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'
gsettings set org.gnome.desktop.interface gtk-color-scheme 'prefer-dark'

# Remove the background picture and just make it all black
gsettings set org.cinnamon.desktop.background color-shading-type 'solid'
gsettings set org.cinnamon.desktop.background picture-options 'none'

# Cinnamon Theme and Interface Settings
{{ if eq .osid "linux-linuxmint" -}}
  gsettings set org.cinnamon.theme name 'Mint-Y-Dark'
  gsettings set org.cinnamon.desktop.interface gtk-theme 'Mint-Y-Dark'
  gsettings set org.cinnamon.desktop.interface icon-theme 'Yaru-olive'
  gsettings set org.cinnamon.desktop.interface cursor-theme 'Adwaita'
{{- end }}
{{ if eq .osid "linux-debian" -}}
  gsettings set org.cinnamon.theme name 'BlackMATE'
  gsettings set org.cinnamon.desktop.interface gtk-theme 'Adwaita-dark'
  gsettings set org.cinnamon.desktop.interface icon-theme 'mate'
  gsettings set org.cinnamon.desktop.interface cursor-theme 'Adwaita'
{{- end }}


gsettings set org.cinnamon.desktop.interface cursor-blink-time 1200
gsettings set org.cinnamon.desktop.interface cursor-size 24

gsettings set org.cinnamon.desktop.interface gtk-color-scheme 'prefer-dark'
gsettings set org.cinnamon.desktop.interface text-scaling-factor 1.0
gsettings set org.cinnamon.desktop.interface toolkit-accessibility false

# Resizes with Alt+RightClick
# https://unix.stackexchange.com/questions/28514/how-to-get-altright-mouse-to-resize-windows-again
gsettings set org.cinnamon.desktop.wm.preferences resize-with-right-button true
gsettings set org.cinnamon.desktop.wm.preferences mouse-button-modifier '<Super>'

gsettings set org.gnome.desktop.wm.preferences resize-with-right-button true
gsettings set org.gnome.desktop.wm.preferences mouse-button-modifier '<Super>'

{{ if eq .osid "linux-linuxmint" -}}
# Disable Ctrl+. (Dot) ibus emoji hotkey (conflicts with VSCode) - Only on Linux Mint
# https://stackoverflow.com/questions/71997823/ctrl-dot-makes-e-appear-instead-of-showing-suggestions-in-vscode-on-gnome
gsettings set org.freedesktop.ibus.panel.emoji hotkey "[]"
{{- end }}

# Configure Cinnamon/Gnome window focus and raising
# https://askubuntu.com/questions/1205036/gnome-focus-new-windows-strict-not-working-in-one-situation
gsettings set org.cinnamon.desktop.wm.preferences num-workspaces 5
gsettings set org.cinnamon.desktop.wm.preferences auto-raise true
gsettings set org.cinnamon.desktop.wm.preferences auto-raise-delay 500
gsettings set org.cinnamon.desktop.wm.preferences focus-mode 'sloppy'
gsettings set org.cinnamon.desktop.wm.preferences focus-new-windows 'smart'
gsettings set org.cinnamon.desktop.wm.preferences raise-on-click true

gsettings set org.gnome.desktop.wm.preferences num-workspaces 5
gsettings set org.gnome.desktop.wm.preferences auto-raise true
gsettings set org.gnome.desktop.wm.preferences auto-raise-delay 500
gsettings set org.gnome.desktop.wm.preferences focus-mode 'sloppy'
gsettings set org.gnome.desktop.wm.preferences focus-new-windows 'smart'
gsettings set org.gnome.desktop.wm.preferences raise-on-click true

# Configure Key Repease Delay and interval
# https://askubuntu.com/a/1031070/739169
gsettings set org.cinnamon.desktop.peripherals.keyboard delay 300
gsettings set org.cinnamon.desktop.peripherals.keyboard repeat-interval 20

# Set keybindings for switching workspaces
gsettings set org.cinnamon.desktop.keybindings.wm switch-to-workspace-1 "['<Super>1']"
gsettings set org.cinnamon.desktop.keybindings.wm switch-to-workspace-2 "['<Super>2']"
gsettings set org.cinnamon.desktop.keybindings.wm switch-to-workspace-3 "['<Super>3']"
gsettings set org.cinnamon.desktop.keybindings.wm switch-to-workspace-4 "['<Super>4']"
gsettings set org.cinnamon.desktop.keybindings.wm switch-to-workspace-5 "['<Super>5']"
gsettings set org.cinnamon.desktop.keybindings.wm switch-to-workspace-down "['F3']"

# Set keybindings for window management
gsettings set org.cinnamon.desktop.keybindings.wm maximize "@as []"
gsettings set org.cinnamon.desktop.keybindings.wm minimize "['<Alt>F3']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-corner-ne "['<Primary><Alt>KP_Page_Up']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-corner-nw "['<Primary><Alt>KP_Home']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-corner-se "['<Primary><Alt>KP_Next']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-corner-sw "['<Primary><Alt>KP_End']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-side-e "['<Primary><Alt>KP_Right']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-side-n "['<Primary><Alt>KP_Up']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-side-s "['<Primary><Alt>KP_Down']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-side-w "['<Primary><Alt>KP_Left']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-workspace-1 "['<Primary><Alt>1']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-workspace-2 "['<Primary><Alt>2']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-workspace-3 "['<Primary><Alt>3']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-workspace-4 "['<Primary><Alt>4']"
gsettings set org.cinnamon.desktop.keybindings.wm move-to-workspace-5 "['<Primary><Alt>5']"

# Set keybindings for panel run dialog
gsettings set org.cinnamon.desktop.keybindings.wm panel-run-dialog "['<Alt>F2', '<Super>r']"

# Set keybindings for switching groups
gsettings set org.cinnamon.desktop.keybindings.wm switch-group "['<Super>Tab']"
gsettings set org.cinnamon.desktop.keybindings.wm switch-group-backward "['<Shift><Super>Tab']"

# Set keybinding for toggling maximized
gsettings set org.cinnamon.desktop.keybindings.wm toggle-maximized "['<Primary>F1']"

# Set keybinding for toggling window above
gsettings set org.cinnamon.desktop.keybindings.wm toggle-above "['<Primary>F2']"

# Unset keybinding for unmaximizing
gsettings set org.cinnamon.desktop.keybindings.wm unmaximize "@as []"

# Unset keybinding for toggling fullscreen
gsettings set org.cinnamon.desktop.keybindings.wm toggle-fullscreen "@as []"

# Unset keybinding for showing desktop
gsettings set org.cinnamon.desktop.keybindings.wm show-desktop "@as []"


# Disable Some Sounds
gsettings set org.cinnamon.sounds login-enabled false
gsettings set org.cinnamon.sounds logout-enabled false
gsettings set org.cinnamon.sounds notification-enabled false
gsettings set org.cinnamon.sounds switch-enabled false
gsettings set org.cinnamon.sounds tile-enabled false
# gsettings set org.cinnamon.sounds unplug-enabled false
# gsettings set org.cinnamon.sounds plug-enabled false


# Shortcuts
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom0/ binding "['<Super>apostrophe']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom0/ command 'code'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom0/ name 'VS Code'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom1/ binding "['<Super>f']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom1/ command 'firefox-devedition'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom1/ name 'Firefox Developer'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom10/ binding "['<Super>semicolon']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom10/ command "bringme.sh GitKraken \"zsh -c 'source ~/.zshrc; gitkraken'\""
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom10/ name 'Gitkraken'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom11/ binding "['<Primary>Print']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom11/ command 'flameshot gui'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom11/ name 'Screenshot - Flameshot - Area'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom12/ binding "['<Super>l']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom12/ command 'bringme.sh Clocks gnome-clocks'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom12/ name 'Gnome Clocks'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom13/ binding "['<Super>minus']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom13/ command 'bringme.sh "DiscoDisco - Obsidian" "obsidian $HOME/DiscoDisco"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom13/ name 'DiscoDisco - Obsidian'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom14/ binding "['<Super>p']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom14/ command 'nemo Pictures'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom14/ name 'Nemo Pictures'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom15/ binding "['<Super>d']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom15/ command 'nemo Downloads'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom15/ name 'Nemo Downloads'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom16/ binding "['<Super>KP_Multiply']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom16/ command 'bringme.sh Ferdium ferdium'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom16/ name 'Bring Ferdium'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom17/ binding "['<Alt>1']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom17/ command 'bash -c "wmctrl -r :ACTIVE: -t 0 &&  wmctrl -s 0"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom17/ name 'Send to Workspace 1'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom18/ binding "['<Alt>2']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom18/ command 'bash -c "wmctrl -r :ACTIVE: -t 1 &&  wmctrl -s 1"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom18/ name 'Send to Workspace 2'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom19/ binding "['<Alt>3']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom19/ command 'bash -c "wmctrl -r :ACTIVE: -t 2 &&  wmctrl -s 2"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom19/ name 'Send to Workspace 3'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom2/ binding "['<Super>g']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom2/ command 'google-chrome'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom2/ name 'Chrome'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom20/ binding "['<Alt>4']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom20/ command 'bash -c "wmctrl -r :ACTIVE: -t 3 &&  wmctrl -s 3"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom20/ name 'Send to Workspace 4'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom21/ binding "['<Alt>5']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom21/ command 'bash -c "wmctrl -r :ACTIVE: -t 4 &&  wmctrl -s 4"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom21/ name 'Send to Workspace 5'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom22/ binding "['<Super>KP_Subtract']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom22/ command 'bringme.sh Slack slack'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom22/ name 'Bring Slack'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom23/ binding "['Calculator']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom23/ command 'bringme.sh Hubstaff hubstaff'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom23/ name 'Bring Hubstaff'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom24/ binding "['<Super>k']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom24/ command 'xkill'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom24/ name 'xkill'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom25/ binding "['<Super>v', '<Super>KP_1']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom25/ command 'vivaldi --profile-directory="Default" --new-window'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom25/ name 'Vivaldi'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom26/ binding "['<Super>m']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom26/ command 'mongodb-compass'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom26/ name 'Compass'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom27/ binding "['<Super>KP_2', '<Super>z']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom27/ command 'vivaldi --profile-directory="PACMAN" --new-window'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom27/ name 'Vivaldi  - PACMAN'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom28/ binding "['<Super>KP_3', '<Super>x']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom28/ command 'vivaldi --profile-directory="C1" --new-window'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom28/ name 'Vivaldi - C1'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom3/ binding "['<Super>h']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom3/ command 'chromium --password-store=basic'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom3/ name 'Chromium'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom4/ binding "['<Super>w']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom4/ command 'remmina'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom4/ name 'remmina'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom5/ binding "['<Super>q']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom5/ command 'remmina -c /home/garyj/.local/share/remmina/group_rdp_local-rest-garyj_192-168-1-40.remmina'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom5/ name 'rd-rest'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom6/ binding "['<Super>backslash']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom6/ command 'bringme.sh 1Password 1password'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings/custom-keybindings/custom6/ name 'Bring 1Password'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings.custom-keybindings.custom7/ binding "['<Super>slash']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop/keybindings.custom-keybindings.custom7/ command 'bringme.sh "Chat - Chromium" "chromium https://chat.jarrel.io/chat"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom7/ name 'Bringme LobeChat'

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom8/ binding "['<Super>s']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom8/ command 'bringme.sh "Scratch" "code-insiders $HOME/scratch"'
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom8/ name 'Scratch '

gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom9/ binding "['<Super>equal']"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom9/ command "bringme.sh \"DiscoDiscoSexyPkm\" 'code $HOME/DiscoDisco --profile \"DiscoDiscoPKM\"'"
gsettings set org.cinnamon.desktop.keybindings.custom-keybinding:/org/cinnamon/desktop.keybindings.custom-keybindings.custom9/ name 'DiscoDisco - VsCode'

gsettings set org.cinnamon.desktop.keybindings.media-keys calculator "['<Super>c']"
gsettings set org.cinnamon.desktop.keybindings.media-keys home "['<Super>e']"
gsettings set org.cinnamon.desktop.keybindings.media-keys screenshot-clip "[]"
gsettings set org.cinnamon.desktop.keybindings.media-keys terminal "['<Super>Return']"



# ! MAKE SURE WHEN ADDING COMMANDS ABOVE YOU ADD THEM TO THE LIST BELOW
gsettings set org.cinnamon.desktop.keybindings custom-list "[\
'custom0',\
'custom1',\
'custom2',\
'custom3',\
'custom4',\
'custom5',\
'custom6',\
'custom7',\
'custom8',\
'custom9',\
'custom10',\
'custom11',\
'custom12',\
'custom13',\
'custom14',\
'custom15',\
'custom16',\
'custom17',\
'custom18',\
'custom19',\
'custom20',\
'custom21',\
'custom22',\
'custom23',\
'custom24',\
'custom25',\
'custom26',\
'custom27',\
'custom28'\
]"

# Set Gedit Theme otherwise we get nasty white highlight current line with white text :(
gsettings set org.gnome.gedit.preferences.editor scheme 'cobalt'

##### --- NEMO ---- #####
# Compact View settings
gsettings set org.nemo.compact-view default-zoom-level 'standard'

# Icon View settings
gsettings set org.nemo.icon-view default-zoom-level 'standard'

# List View settings
gsettings set org.nemo.list-view default-zoom-level 'standard'

# Preferences
gsettings set org.nemo.preferences click-policy 'single'
gsettings set org.nemo.preferences default-folder-viewer 'list-view'
gsettings set org.nemo.preferences show-hidden-files false

# Sidebar panel settings
gsettings set org.nemo.sidebar-panels.tree show-only-directories true

{{ end }}
