{{ if and (eq .chezmoi.arch "amd64") (not .headless) (not .ephemeral) -}}
#!/usr/bin/env bash

if command -v cloudflared >/dev/null 2>&1; then
  echo "Cloudflared is already installed"
  exit 0
fi

# Add cloudflare gpg key
sudo mkdir -p --mode=0755 /usr/share/keyrings
curl -fsSL https://pkg.cloudflare.com/cloudflare-main.gpg | sudo tee /usr/share/keyrings/cloudflare-main.gpg >/dev/null

# Add this repo to your apt repositories (Stable)
echo 'deb [signed-by=/usr/share/keyrings/cloudflare-main.gpg] https://pkg.cloudflare.com/cloudflared any main' | sudo tee /etc/apt/sources.list.d/cloudflared.list

# Install cloudflared
sudo apt-get update && sudo apt-get install cloudflared
{{ end -}}
