{{ if and (eq .chezmoi.arch "amd64") (not .headless) (not .ephemeral) -}}
#!/usr/bin/env bash

if command -v codium >/dev/null 2>&1; then
  echo "VSCodium is already installed"
  exit 0
fi

# Add the GPG key of the VSCodium repository
wget -qO - https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg \
    | gpg --dearmor \
    | sudo dd of=/usr/share/keyrings/vscodium-archive-keyring.gpg

# Add the VSCodium repository
echo 'deb [arch=amd64,arm64 signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg] https://download.vscodium.com/debs vscodium main' \
    | sudo tee /etc/apt/sources.list.d/vscodium.list

sudo apt update && sudo apt install -y codium
{{ end -}}
