{{ if and (eq .chezmoi.arch "amd64") (not .ephemeral) .personal -}}
{{ if or (eq .osid "linux-ubuntu") (eq .osid "linux-linuxmint") -}}
#!/usr/bin/env bash

# Docker Engine via vendor apt repo.
# Reference: https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository

set -euo pipefail

{{ template "add-apt-repo" . }}

# For Mint the Ubuntu codename is set under UBUNTU_CODENAME in /etc/os-release
{{ $versionVariable := "VERSION_CODENAME" -}}
{{ if eq .osid "linux-linuxmint" -}}
{{ $versionVariable = "UBUNTU_CODENAME" -}}
{{ end -}}
add_apt_repo docker \
  https://download.docker.com/linux/ubuntu/gpg \
  "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo "${{- $versionVariable }}") stable"

sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

# The docker group allows running docker without sudo. Takes effect on next login.
sudo usermod --append --groups docker '{{ .chezmoi.username }}'
{{ end -}}
{{ end -}}
